#gn-left-col
  label Search : 
  input(type='text', ng-model='searchterm', name='search')
  #country-autocomplete-results
    ul(ng-hide='!searchterm || searchterm.length < 3')
      li( style='cursor:pointer;'
          ng-repeat='country in countries | filter:{countryName:searchterm}', 
          ng-click='switchCountry(country.geonameId)') {{country.countryName}} ({{country.countryCode}})
#gn-right-col
  hr
  h3 {{selectedCountry.countryName}} ({{selectedCountry.countryCode}}) neighbours :
  neighbours

//- pre {{countries | json}}
//- pre {{searchterm}}
